{% extends 'base.html' %}
<!-- <html lang="en"> 
    <head>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111;
        }
    </style>
        </head>
        <body>
        <ul>
          <li><a class="active" href="{%url 'home'%}">Home</a></li>
          <li><a href="{%url 'about'%}">About</a></li>
          <li><a  href="{%url 'Contact'%}">Contact</a></li>
        </ul></body>
</html> -->

{%block 'body'%}
    <div>
        About Me 
    </div>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iure libero consequatur harum recusandae, perferendis odio officiis aliquam ut placeat iste quasi deserunt ratione earum culpa veritatis ipsam inventore pariatur!
</p>
{%endblock 'body'%}


