{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
{%block 'body'%}
<h2 style="text-align: center;">Student Table</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  {% for std in students %}
  <tr>
    <td>{{ std.id }}</td>
    <td>{{ std.s_name }}</td>
    <td>{{ std.S_Email }}</td>
    <td>{{ std.Age }}</td>
    <td> 
      <a href="{% url 'delete_student' std.id %}">Delete</a>
    </td>
     <td><a href="{% url 'edit_student' std.id %}">Edit</a>
</td>   </tr>
  {% endfor %}
</table>
{%endblock 'body'%}
</body>
</html>

