{% load static %}

<style>
/* Add padding to containers */
#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
  /* Full-width input fields */
  input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

</style>
<div class="form-container">
 <form method="POST" action="{%url 'Accept_user' %}" style="max-width: 400px; margin: auto; margin-top: 200px;" >
{% csrf_token %}
<div >
    <h1>Login</h1>
    <hr> 
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="email" required>
    
    <label for="pass"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" id="email" required>
     <hr>  
    <button type="submit" class="registerbtn">Log IN</button>
  </div>
</form>   
</div>
<!-- <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="POST" action="{% url 'Accept_user' %}" style="width: 400px;">
        {% csrf_token %}
        <div class="container">
            <h1>Login</h1>
            <hr> 
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" placeholder="Enter Email" name="email" id="email" required>
            
            <label for="password"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter password" name="password" id="password" required>
             <hr>  
            <button type="submit" class="btn btn-primary btn-block">Log IN</button>
        </div>
    </form>   
</div> -->
